@font-face {
    font-family: AndaleMono;
    src: url(../font/ANDALEBMO.TTF);
}

* {
    font-family: AndaleMono;
    margin: 0;
    padding: 0;
}

body,
header,
main {
    box-sizing: border-box;
}


/* HEADER */

header {
    max-height: 100vh;
    width: 100%;
    position: relative;
}

header img {
    width: 100%;
}

header .header__contenedor {
    margin: 2rem 0;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    color: #fff;
}

header .contenedor__h1 {
    display: flex;
    align-items: center;
    max-width: 100%;
}

header h1 {
    font-size: clamp(2rem, -0.105rem + 10.526vw, 10rem);
    line-height: 1;
}

header span {
    padding: 0 1rem;
    font-size: clamp(1rem, 0.342rem + 3.289vw, 3.5rem);
    line-height: 1.2;
}

header p {
    padding: 0.2rem;
    text-align: center;
    font-size: clamp(1rem, 0.868rem + 0.658vw, 1.5rem);
    word-spacing: -5px;
    background-color: #fff;
    color: #000;
}

/* HEADER 2 */

.header--2 .contenedor__h1 {
    text-align: right
}

.header--2 .contenedor__p {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.p--1,
.p--2 {
    font-size: clamp(0.8rem, 0.221rem + 2.895vw, 3rem);
}

.header--2 .p--1 {
    color: #fff;
    background-color: transparent;
}

/* MAIN */

main {
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    background-color: #0001;
}

section {
    padding: 3rem 5rem;
    max-width: 1024px;
    background-color: #fff;
}

section p {
    font-size: clamp(0.8rem, 0.695rem + 0.526vw, 1.2rem);
}

section h2 {
    display: block;
    margin: 2rem 0rem;
    font-size: clamp(1.3rem, 1.168rem + 0.658vw, 1.8rem);
}

.contenedor__h1 .titulo h1 {
    font-size: 8rem;
    line-height: 0.98;
    text-align: right;
}

.contenedor__h1 .texto {
    padding: 2rem;
    text-align: left;
    margin: auto;
    display: inline;
}

.contenedor__h1 .texto p {

    font-size: 2.5rem;
    display: block;
    word-spacing: -5px;
}

.contenedor__h1 .texto .p-2 {
    padding: 0.5rem;
    background-color: #fff;
    color: #000;
}

@media screen and (max-width: 1024px) {
    section {
        padding: 1rem 2rem;
        max-width: 1024px;
        background-color: #fff;
    }
}